*
{
    margin: 0;
    padding: 0;
}
body
{
    background: url('Andrea_Calo_0250-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.bar
{

    position:relative;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 65px;
}
header
{
    background-color: #333;
    color: #fff;
    padding: 1rem;
}
nav ul 
{
    list-style: none;
    display: flex;
}
nav li 
{
    margin-right: 20px;
}
nav a 
{
    text-decoration: none;
    color: #fff;
}
.content h3
{
    width: auto;
    height: auto;
    text-align: center;
    background-color: black;
    color: rgb(188, 5, 5);
}
.content p
{
    color: white;
}
